@{
    ViewData["Title"] = "Developer Documentation";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<ol>
    <li>
        <ul>
            <li><h2>ASP.NET</h2></li>
            <li><h4>Ressources</h4></li>
            <ul>
                <li>Visual Studio</li>
            </ul>
            <li><h4>Starting new Solution</h4></li>
        </ul>
    </li>
    <li>
        <ul>
            <li><h2>SQLite</h2></li>
            <li><h4>Install Nuget Packages</h4></li>
            <li><h4>Create new Database</h4></li>
            <li><h5>Optional</h5></li>
            <ul>
                <li>DB Browser for SQLite</li>
            </ul>
        </ul>
    </li>
    <li>
        <ul>
            <li><h2>Azure</h2></li>
            <li><h4>Publish</h4></li>
        </ul>
    </li>
</ol>
